<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>teja project</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% ifequal error "no" %}
<script type="text/javascript">
    window.location = ('{% url 'otp_page' %}')
</script>
{% endifequal%}

{% ifequal error "yes" %}
<script type="text/javascript">
    alert('Invalid Credentials...')
</script>
{% endifequal%}
    <div class="login-card"><img class="profile-img-card" src="{% static 'img/avatar_2x.png' %}">
        <p class="profile-name-card"> </p>
        <form class="form-signin" method="post">
            {% csrf_token %}
            <span class="reauth-email"> </span>
            <input class="form-control" type="text" id="inputEmail" required="" placeholder="Email address" autofocus="" name="username">
            <input class="form-control" type="password" id="inputPassword" required="" placeholder="Password" name="password">
        <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
    </form>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>